<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    {{>links}}
    <link rel="stylesheet" href="css/errorstyle.css">
</head>

<body>
    <div class="text">
        <h1>404</h1>
        <h2>Uh, Ohh</h2>
        <h3>Sorry we cant find what you are looking for</h3>
        <a href="/"><button class="btn btn-dark">Go back</button></a> 
    </div>
</body>

</html>