<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home</title>
     <!-- add icon link -->
     <link rel="icon" type="image/png"
          href="https://g1.iggcdn.com/assets/favicon/favicon-64-f86781f1d221c3eea847e861d0b2b631f0cd49bbdb2cac0b0ed052664fa2380c.png"
          sizes="64x64">

     <link rel="stylesheet" href="style.css">
     {{>links}}

     <style>
          .myhover:hover {
               opacity: 0.6;
          }
     </style>
</head>

<body>

     {{!-- Navbar page--}}
     {{>navbar}}
     {{!-- ************ --}}
     <hr class="my-hr">
     {{!-- Banner--}}
     <div class="container-fluid pt-2">
          <div class="row">
               <div class="col-md-10 mx-auto">
                    <div class="row">
                         <div class="col-md-7">
                              <div class="row pt-4">
                                   <div class="col-12">
                                        <div id="ssd1" class="picture" style="display:none">
                                             <iframe width="100%" height="480"
                                                  src="https://www.youtube.com/embed/ESPhhTu08m4" frameborder="0"
                                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                  allowfullscreen></iframe>
                                        </div>
                                        <div id="ssd2" class="picture" style="display:none">
                                             <iframe width="100%" height="480"
                                                  src="https://www.youtube.com/embed/Q9U8JkzJtB4" frameborder="0"
                                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                  allowfullscreen></iframe>
                                        </div>
                                        <div id="ssd3" class="picture" style="display:none">
                                             <iframe width="100%" height="480"
                                                  src="https://www.youtube.com/embed/wc7A29nLaok" frameborder="0"
                                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                  allowfullscreen></iframe>
                                        </div>
                                        <div id="ssd4" class="picture" style="display:none">
                                             <iframe width="100%" height="480"
                                                  src="https://www.youtube.com/embed/I93PraJSlVM" frameborder="0"
                                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                  allowfullscreen></iframe>
                                        </div>
                                        <div id="ssd5" class="picture" style="display:none">
                                             <iframe width="100%" height="480"
                                                  src="https://www.youtube.com/embed/fLjxQHGgYo4" frameborder="0"
                                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                  allowfullscreen></iframe>
                                        </div>
                                        <div id="ssd6" class="picture" style="display:none">
                                             <iframe width="100%" height="480"
                                                  src="https://www.youtube.com/embed/tdlBkZ57_NI" frameborder="0"
                                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                  allowfullscreen></iframe>
                                        </div>
                                   </div>
                              </div>
                              <div class="row pt-0 pb-4 pt-2 no-gutters justify-content-md-center">
                                   <div class="col-1 col-sm-1 col-md-1 mr-1">
                                        <a href="javascript:void(0)" class="myhover" onclick="openImg('ssd1');">
                                             <img class="img-fluid"
                                                  src="https://i3.ytimg.com/vi/ESPhhTu08m4/default.jpg" alt="ssd1">
                                        </a>
                                   </div>
                                   <div class="col-1 col-sm-1 col-md-1 mr-1">
                                        <a href="javascript:void(0)" class="myhover" onclick="openImg('ssd2');">
                                             <img class="img-fluid"
                                                  src="https://i3.ytimg.com/vi/Q9U8JkzJtB4/default.jpg" alt="ssd2">
                                        </a>
                                   </div>
                                   <div class="col-1 col-sm-1  col-md-1 mr-1">
                                        <a href="javascript:void(0)" class="myhover" onclick="openImg('ssd3');">
                                             <img class="img-fluid"
                                                  src="https://i3.ytimg.com/vi/wc7A29nLaok/default.jpg" alt="ssd3">
                                        </a>
                                   </div>
                                   <div class="col-1 col-sm-1  col-md-1 mr-1">
                                        <a href="javascript:void(0)" class="myhover" onclick="openImg('ssd4');">
                                             <img class="img-fluid"
                                                  src="https://i3.ytimg.com/vi/I93PraJSlVM/default.jpg" alt="ssd4">
                                        </a>
                                   </div>
                                   <div class="col-1 col-sm-1  col-md-1 mr-1">
                                        <a href="javascript:void(0)" class="myhover" onclick="openImg('ssd5');">
                                             <img class="img-fluid"
                                                  src="https://i3.ytimg.com/vi/fLjxQHGgYo4/default.jpg" alt="ssd5">
                                        </a>
                                   </div>
                                   <div class="col-1 col-sm-1 col-md-1 mr-1">
                                        <a href="javascript:void(0)" class="myhover" onclick="openImg('ssd6');">
                                             <img class="img-fluid"
                                                  src="https://i3.ytimg.com/vi/tdlBkZ57_NI/default.jpg" alt="ssd6">
                                        </a>
                                   </div>
                              </div>
                         </div>
                         <div class="col-md-5">
                              <div class="small-tag">
                                   <b>FUNDING</b>
                              </div>
                              <div class="heading">
                                   <h2>TurboHub: World’s Fastest SSD & Multiport Adapter</h2>
                              </div>
                              <div class="desc">
                                   <p>4TB SSD + Thunderbolt 3 + USB 3.1 Gen2 + USB Gen 3.1+ HDMI 2.0 + SD UHS-II +
                                        1000Mbps Ethernet</p>
                              </div>

                              <div class="d-flex flex-row">
                                   <div class="p-2"> <img data-v-695d88a7=""
                                             src="https://g1.iggcdn.com/assets/individuals/missing/thumbnail-deaf450c2d4183b9309b493f6a7b20d62f8d31617ec828d060df465abe92ef2a.png"
                                             width="40" height="40" class="img-fluid rounded-circle">
                                   </div>
                                   <div>
                                        <b><a class="text-dark" href="">Jordan Lee</a></b>
                                        <p>1 Campaign | Mumbai,India</p>
                                   </div>
                              </div>


                              <div class="d-flex flex-row progress-up mt-2">
                                   <a class="text-dark" href="#" data-toggle="tooltip" data-placement="top"
                                        title="Hooray!">
                                        <div class="price-price"><b>₹16,065,958 </b></div>
                                   </a>
                                   <div class="price-currency ">INR</div>
                                   <div class="price-percentage ml-auto"><b>956</b> backers</div>
                              </div>
                              <div class="progress_container mb-2">
                                   <div class="progressbar bg-success">
                                        {{!-- <div class="progress"></div> --}}
                                   </div>
                              </div>

                              <div class="d-flex flex-row progress-down">
                                   <div class="progress-price">1704% of ₹942,753</div>
                                   <a class="text-dark" href="#" data-toggle="tooltip" data-placement="top"
                                        title="Hooray!">
                                        <div class="progress-text"><b>Fixed Goal</b></div>
                                   </a>
                                   <div class="progress-days ml-auto"><b>27</b> days left</div>
                              </div>

                              <div class="d-flex flex-row mt-2">
                                   <div>
                                        <button class="button">BACK IT</button>
                                   </div>
                                   <div>
                                        <button class="button2"><i class="far fa-heart"></i> Follow</button>
                                   </div>
                                   <div class="social-midia-icon  ml-auto">
                                        <div class="banner-icon">
                                             <i class="fab fa-facebook-f"></i>
                                        </div>
                                        <div class="banner-icon">
                                             <i class="fab fa-twitter"></i>
                                        </div>
                                        <div class="banner-icon">
                                             <i class="fas fa-link"></i>
                                        </div>
                                   </div>
                              </div>

                         </div>
                    </div>
               </div>
          </div>
     </div>
     {{!-- ************ --}}
     <hr class="my-hr">

     {{!-- Multiple tabs --}}
     <div class="container-fluid pt-2 pb-3">
          <div class="row">
               <div class="col-md-10 mx-auto">
                    <div class="row">
                         <div class="col-md-7 col-sm-12 col-12 mt-4">
                              <!-- Tabs -->
                              <nav>
                                   <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                             href="#nav-home" role="tab" aria-controls="nav-home"
                                             aria-selected="true">STORY</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                             href="#nav-profile" role="tab" aria-controls="nav-profile"
                                             aria-selected="false">FAQ</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                             href="#nav-contact" role="tab" aria-controls="nav-contact"
                                             aria-selected="false">UPDATES</a>
                                        <a class="nav-item nav-link" id="nav-comment-tab" data-toggle="tab"
                                             href="#nav-comment" role="tab" aria-controls="nav-contact"
                                             aria-selected="false">COMMENTS</a>
                                   </div>
                              </nav>
                              <div class="tab-content" id="nav-tabContent">
                                   <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">{{>story}}</div>
                                   <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                        aria-labelledby="nav-profile-tab">{{>faq}}</div>
                                   <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                        aria-labelledby="nav-contact-tab">{{>updates}}</div>
                                   <div class="tab-pane fade" id="nav-comment" role="tabpanel"
                                        aria-labelledby="nav-comment-tab">
                                        <div class="row">
                                             <div class="col-12 border py-4 mt-4 text-center">
                                                  <h6>You must have an account to comment. Already have an account? <a
                                                            style="text-decoration: underline;">Log in</a></h6>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <!-- ./Tabs -->

                         </div>

                         <div class="col-md-1"></div>

                         <div class="col-md-3 col-sm-6 col-12 main-card">
                              <h5>Select a perk</h5>
                              <div class="card" style="width: 21rem;">
                                   <img src="https://c3.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/e9edyuwusu7xwdnmwiep"
                                        class="card-img-top" alt="...">
                                   <div class="card-body">
                                        <div class="box">
                                             FEATURED
                                        </div>
                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>

                              <div class="card mt-3" style="width: 21rem;">
                                   <img src="https://c0.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/pleqkb2dkaznqvskolhq"
                                        class="card-img-top" alt="...">
                                   <div class="card-body">
                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>

                              <div class="card mt-3" style="width: 21rem;">
                                   <img src="https://c3.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/y0swgngde0jmqqwpbs9c"
                                        class="card-img-top" alt="...">
                                   <div class="card-body">
                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>

                              <div class="card mt-3" style="width: 21rem;">
                                   <img src="https://c4.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/o9skthmqr5obgn01dtoc"
                                        class="card-img-top" alt="...">
                                   <div class="card-body">

                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>

                              <div class="card mt-3" style="width: 21rem;">
                                   <img src="https://c4.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/oyulxp6ixdnn4t3bvaak"
                                        class="card-img-top" alt="...">
                                   <div class="card-body">
                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>

                              <div class="card mt-3" style="width: 21rem;">
                                   <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/p3zqw1ztr0uyw3b2tu8p" class="card-img-top" alt="...">
                                   <div class="card-body">
                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>

                              <div class="card mt-3" style="width: 21rem;">
                                   <img src="https://c4.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/i2qtd1zymun1tsggtyl6" class="card-img-top" alt="...">
                                   <div class="card-body">

                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>

                              <div class="card mt-3" style="width: 21rem;">
                                   <img src="https://c4.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/umhr47ojdmma1qfwhpcm" class="card-img-top" alt="...">
                                   <div class="card-body">
                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>

                              <div class="card mt-3" style="width: 21rem;">
                                   <img src="https://c0.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_762,g_center,q_auto:best,dpr_1.3,f_auto,h_506/nsngccbmoneggyshmwi5" class="card-img-top" alt="...">
                                   <div class="card-body">

                                        <div class="box-heading">
                                             <h4>TurboHub (4TB) - XMAS Special</h4>
                                        </div>
                                        <div class="box-price">
                                             <b>$2,644 HKD</b> <strike style="color: red;">$5,886 HKD </strike>(55% OFF)
                                        </div>
                                        <div class="box-currency-conversion d-flex flex-row">
                                             <div class="box-currency">
                                                  <svg viewBox="0 0 17 17" id="v-currency_conversion">
                                                       <path d="M15.89 10l.27.753.228.652.539 1.526a.747.747 0 01.01.621.722.722 0 01-.459.407l-.111.032a.714.714 0 01-.449-.056.738.738 0 01-.377-.424l-.209-.58c-1.521 2.69-4.407 4.26-7.441 4.05-3.034-.21-5.687-2.163-6.84-5.037a.72.72 0 01.385-.931.695.695 0 01.911.392c.944 2.347 3.105 3.948 5.582 4.136 2.478.187 4.846-1.071 6.118-3.251l-.658.244a.723.723 0 01-.567-.027.748.748 0 01-.38-.43l-.027-.099a.767.767 0 01.466-.869l1.624-.59L15.89 10zM8.912 4v.675a3.6 3.6 0 01.97.146c.324.1.623.285.874.54l-.854 1.204a1.293 1.293 0 00-.485-.315 2.58 2.58 0 00-.592-.158V7.78l.854.292c.374.109.712.344.97.676.24.334.364.758.35 1.192.006.329-.05.655-.165.956-.11.272-.27.514-.466.709a2.21 2.21 0 01-.69.45 2.913 2.913 0 01-.824.214V13h-.66v-.776a3.808 3.808 0 01-1.165-.18A2.361 2.361 0 016 11.39l.97-1.226c.161.217.369.38.602.473.223.091.454.148.69.168V9.063l-.65-.237a2.24 2.24 0 01-1.03-.686 1.994 1.994 0 01-.349-1.238 2.115 2.115 0 01.175-.877c.108-.257.26-.487.446-.675.194-.191.414-.343.65-.45.243-.114.498-.19.758-.225V4h.65zm-.058 5.276v1.474l.272-.011a.932.932 0 00.242-.147.934.934 0 00.175-.225.633.633 0 00.068-.303.794.794 0 00-.049-.281.642.642 0 00-.136-.192.964.964 0 00-.184-.135l-.223-.101-.165-.079zM8.31 6.092a1.3 1.3 0 00-.446.214.627.627 0 00-.194.495.681.681 0 00.087.371c.046.084.11.154.184.203.048.06.103.109.165.146.07.008.139.027.204.057zM1.591 4.13A7.977 7.977 0 019.05.014a7.99 7.99 0 016.918 4.979.713.713 0 01-.46.893l-.103.021a.698.698 0 01-.735-.432 6.582 6.582 0 00-5.643-4.103 6.57 6.57 0 00-6.147 3.29l.689-.281a.735.735 0 01.998.421l.041.115a.746.746 0 01-.45.889l-1.607.642L1.182 7l-.55-1.385L.065 4.18a.756.756 0 01.409-1.003l.11-.035a.725.725 0 01.838.446z"
                                                            fill-rule="evenodd"></path>
                                                  </svg>
                                             </div>
                                             <div class="box-currency-price">
                                                  ₹24,903 INR
                                             </div>
                                        </div>
                                        <div class="shipping d-flex flex-column">
                                             <div>
                                                  <b>Estimated Shipping</b>
                                             </div>
                                             <div>
                                                  March 2021
                                             </div>
                                             <div>
                                                  Only <b>2</b> left
                                             </div>
                                             <div>Ships worldwide.</div>
                                        </div>

                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     {{!-- ************ --}}

     {{!-- Login --}}
     {{>login}}
     {{!-- ************ --}}


     {{!-- Sign up --}}
     {{>register}}
     {{!-- ************ --}}


     {{!-- Footer page --}}
     {{>footer}}
     {{!-- ************ --}}

     <script src="js/script.js" type="text/javascript"></script>
</body>

</html>