<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq</title>
</head>

<body>
    <div class="container-fluid ">
        <div class="row mb-5">
            <div class="col-12 py-4 mt-3">
                <h4 class="mb-3"> Frequently Asked Questions</h4>
                <p class="mb-1"><b>What's the key functionality of TurboHub</b></p>
                <p class="mb-4">TurboHub is up to 4TB SSD storage and a 6-port adapter that effectively expands your
                    laptop's connectivity and equips you with all the tools to boost productivity.</p>

                <p class="mb-1"><b>Which devices TurboHub is compatible with?</b></p>
                <p class="mb-4">Your TurboHub is compatible with most USB Type-C enabled devices including tablets,
                    smartphones, game consoles, and more</p>

                <p class="mb-1"><b>Will my TurboHub work with MacBook?</b></p>
                <p class="mb-4">Thanks to its double Type-C connectors, TurboHub is perfectly compatible with any Macbook to boost the number of ports on your laptop and to provide additional storage you needed.</p>

                <p class="mb-1"><b>Will my TurboHub work with other laptops with USB-C other than the Macbook?</b></p>
                <p class="mb-4">Thanks to its added Type-C port, you can use it as an adapter and extra storage solution for any other Type-C powered laptop.</p>

                <p class="mb-1"><b>Will it work with other devices, such as smartphones, tablets, etc?</b></p>
                <p class="mb-4">Yes, your TurboHub will work with most USB Type-C enabled devices including tablets, smartphones, game consoles, and more.</p>

                <p class="mb-1"><b>How much storage capacity does TurboHub offer?</b></p>
                <p class="mb-4">urboHub SSD storage comes in three capacity options: 1TB, 2TB and 4TB.</p>

                <p class="mb-1"><b>Will I feel a difference while using TurboHub compared to my internal storage?</b></p>
                <p class="mb-4">TurboHub is faster than your traditional SSD and way faster than conventional HDD. It is more compact, lightweight, and has no moving parts. Your files, games, and programs will boost faster, too. So, yes you will see the difference between your internal storage and TurboHub.</p>

                <p class="mb-1"><b>What does Ethernet port offer?</b></p>
                <p class="mb-4">With a 1000Mbps (1Gbps) Ethernet port, your TurboHub ensures a reliable wired network connection.</p>

                <p class="mb-1"><b>Can I connect the LAN cable through TurboHyb to my laptop to increase the internet speed?</b></p>
                <p class="mb-4">Yes, you can connect the LAN cable through a high-speed gigabit ethernet port.</p>

                <p class="mb-1"><b>How many monitors can I set up with TurboHub?</b></p>
                <p class="mb-4">Thanks to Type-C and HDMI ports, you can easily connect up to two displays to your laptop or computer.</p>

                <p class="mb-1"><b>Can I use TurboHub to back up my Mac via the TimeMachine?</b></p>
                <p class="mb-4">It’s always wise to back up your Mac to avoid data losses in case your hard drive fails or something unexpected happens to your laptop. As advised on the Apple Support platform you need external storage to back up your Mac via the TimeMachine. You can use TurboHub for this purpose.</p>

                <p class="mb-1"><b>What material is TurboHub made of?</b></p>
                <p class="mb-4">TurboHub is made of aluminum that withstands unbeatable strength and heat.</p>

                <p class="mb-1"><b>What are the main advantages of TurboHub compared to other SSD storages?</b></p>
                <p class="mb-4">It's 7x faster than standard SSD storage provides up to 4TB capacity at a comparatively lower price.</p>

                <p class="mb-1"><b>Which are the key technical specifications of TurboHub?</b></p>
                <p class="mb-4">Capacity: up to 4TB. Connection ports: 4K@60HZ HDR HDMI, USB-C data (USB 3.1 Gen2, 10GB/s) and power delivery (max 100W), Micro SD (UHS-II 200MB/s), SD (UHS-II 300MB/s); 1x USB-A data (USB 3.1 Gen2, 10GB/s); Thunderbolt 3 (40GB/s) and 100W power delivery.</p>

                <p class="mb-1"><b>Will it heat up? Is there an optimal operating temperature?</b></p>
                <p class="mb-4">The device operating temperature is less than 118°F (48°C)</p>

                <p class="mb-1"><b>Is TurboHub really that small?</b></p>
                <p class="mb-4">Yes, TurboHub is smaller than Hershey’s Milk Chocolate. TurboHub’s dimensions are 4.7” x 1.97” x 0.43”(121mm x 50mm x 11mm).</p>

                <p class="mb-1"><b>Is it heavy?</b></p>
                <p class="mb-4">It’s almost the same weight as Hershey’s Milk Chocolate. Your TurboHub weights 2.04oz (58g).</p>

                <p class="mb-1"><b>What’s inside the package?</b></p>
                <p class="mb-4">Once you open the box you will see your TurboHub and a User Guide.</p>

                <p class="mb-1"><b>Do you sell TurboHub in another place other than Indiegogo?
                    </b></p>
                <p class="mb-4">No, we do not sell TurboHub anywhere other than Indiegogo. Once the campaign is over,
                    TurboHub will go to the mass market.</p>

                <p class="mb-1"><b>What’s the warranty period for TurboHub?</b></p>
                <p class="mb-4">TurboHub comes with 1-Years Warranty for all components.</p>

                <p class="mb-1"><b>Do I need to pay VAT on the shipping?</b></p>
                <p class="mb-4">No, we do not apply VAT on shipping. We ship worldwide and we use EU-friendly shipping
                    carriers as well.</p>

                <p class="mb-1"><b>When will the shipping start and do you offer worldwide and EU-friendly shipping?</b>
                </p>
                <p class="mb-4">Shipping will start in March 2020. We ship worldwide and we use EU-friendly shipping
                    carriers as well without any VATs applied.</p>

                <p class="mb-1"><b>What is the Guaranteed Delivery or Money Back Policy?</b></p>
                <p class="mb-4">If for any reason, we are unable to ship your TurboHub to your location, you will
                    receive a full refund.</p>


            </div>
        </div>
    </div>
</body>

</html>