<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Elegant Modal Login Modal Form with Icons</title>

    <link rel="stylesheet" href="css/loginstyle.css">

    {{>links}}
</head>

<body>
    <!-- Modal HTML -->
    <div id="login" class="modal fade">
        <div class="modal-dialog modal-login" >
            <div class="modal-content  px-5">
                <div class="modal-header">
                    <h3 class="modal-title" >Welcome back!</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="text-center">
                    <p>Log in to continue.</p>
                </div>
                <div class="modal-body">
                    <form action="/examples/actions/confirmation.php" method="post">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" placeholder="Your Email" required="required">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" placeholder="Your Password" required="required">
                        </div>
                        <div class="text-right">
                            <a href="#" class="text-dark"><ins>Forgot Password?</ins></a>
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" class="btn btn-block" value="LOG IN">
                        </div>
                        <div class="text-center text-secondary">
                            <h6>OR</h6>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block" id="facebook"><i class="fab fa-facebook-square"></i>CONTINUE WITH FACEBOOK</button>
                        </div>
                        <div class="text-center">
                            No posts without your permission.
                        </div>
                        <div class="text-center text-dark mt-5">
                            <h6>New to Indiegogo?<a href="#" class="text-dark"><ins>Sign Up</ins></a> </h6>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>