<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
</head>

<body>
    <div class="container-fluid">
        {{!-- highlights --}}
        <div class="row">
            <div class="col-12 border py-4 mt-4">
                <b>Highlights</b>
                <div class="row"></div>
                <div class="row d-flex flex-row">
                    <div class="box-star">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="box-text">
                        Indiegogo Team Favorites
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 py-4">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1609765102/h8d8sekle3drmrqbmcvr.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 py-4">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1609484925/jpmvm84w15ugh70itycc.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 py-4">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608050597/mzwx69t6bzck5jlmyvpk.png" class="img-fluid" alt="">
                <p class="pt-3 mb-5">Your new high capacity all-in-one SSD storage and adapter — TurboHub — combines the
                    versatility with efficiency to expand your laptop's connectivity and equip you with all the tools
                    you need to boost your productivity.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-4">Forget about lack of storage</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608569871/zjloqndzd2vyj8txqydr.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-4">... or missing ports on your laptop</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607512211/kfhdzyjz5utqksmhjpxz.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-4"> ... or space-consuming ugly dongles</h2>
                <img src="https://media.giphy.com/media/q6h79Vgem8PIu4WQU1/source.gif" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-4">TurboHub is the ultimate all-in-one solution</h2>
                <h2 class="mb-4 text-center">you are looking for.</h2>

                <iframe width="691" height="412" src="https://www.youtube.com/embed/ESPhhTu08m4" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <br>
                <br>
                <br>
                <br>

                <iframe width="691" height="412" src="https://www.youtube.com/embed/Q9U8JkzJtB4" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607955856/dfwufferdxklporwdgxl.png" class="img-fluid" alt="">

            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-4"> Media About Us</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607512421/ywientxb1d7r67lvvim7.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-4"> Versatile Device Compatibility</h2>
                <p class="mb-4">Equipped with Thunderbolt 3 connector, your TurboHub is designed to work with both
                    <b>Windows</b> and <b>Mac laptops</b>, as well as with the devices of today, tomorrow and yesterday.
                </p>
                <h2 class="mb-4"> ...with your tablet</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607512518/rrb5ktavzomwazdahxy0.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5"> ...with your smartphone</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607512557/chdltzfgjwn3rpaaidxy.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5"> ...with any other device</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607512711/djgjf1lcxlgl7xvumive.png" class="img-fluid mb-3" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608570026/trxfnpetdaaiwisy5h5d.png" class="img-fluid mb-5" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608570049/pifskeaelphknhaemqog.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5"> FEATURES </h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607858275/gmikj9zuhz5zffp9cinv.png" class="img-fluid" alt="">
                <p class="mb-2 mt-5"><b>macOS, Windows, ChromeOS,</b> etc. — no matter what operating system you have
                    installed on your laptop or computer, eventually, you'll need additional storage.</p>
                <p class="mb-2">Along with providing multiport connectivity, TurboHub is the lightweight,
                    pocket-friendly and high-capacity external solid-state drive (SSD) solution you are looking for.</p>
                <p class="mb-4">With up to 4TB of available storage, you will get additional space to save all your
                    media, data, game and program files and effectively boost your computing experience.</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5"> Quickly Store, BackUp & Transport Your Files</h2>
                <img src="https://media.giphy.com/media/G2pf7DhDc7JK3PgnO2/source.gif" class="img-fluid" alt="">
                <p class="mb-2 mt-5">Looking for a storage that will backup your files, games, programs, videos and
                    photos in seconds? </p>
                <p class="mb-2">Powered with a lightning-fast 950MB/s read and write system, you will be able to
                    transfer all the files from your cameras, drones, or computers to your TurboHub in a blink of an
                    eye.</p>
                <p class="mb-4">No additional software needed. Simply drag and drop your files!</p>
            </div>
        </div>
        <b></b>
        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5"> 3 Capacities to Fit your Needs</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608571266/dghvumxgvhethf7v3nys.png" class="img-fluid" alt="">
                <p class="mb-2 mt-5">Need that extra space for storing all your presentations, work files, photos and
                    video footages from vacations, family events, team retreats and more?</p>
                <p class="mb-4">With capacities of up to 4TB, TurboHub is there to give you that storage space.
                    Available in <b>1TB, 2TB</b> and <b>4TB</b> capacities, TurboHub ensures you have enough storage in
                    any situation
                    and anywhere you go.</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607517829/ellgpefs6pknknnp21rz.png" class="img-fluid" alt="">
                <img src="https://media.giphy.com/media/vIr4gwK4KD5TZZdkvF/source.gif" class="img-fluid" alt="">

            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5"> 6-in-1 Multiport Adapter </h2>
                <img src="https://media.giphy.com/media/xb8krVjKgACP5NO5Ev/source.gif" class="img-fluid" alt="">
                <p class="mb-2 mt-5">Gone are the days of the dongle-cluttered backpack or table. Thanks to its six
                    optimized ports, TurboHub significantly expands connectivity for your MacBook and USB-C or
                    Thunderbolt-enabled laptop. It allows you to connect 4K HDMI video output, USB Type-C and
                    Thunderbolt 3 ports, 1GB Ethernet port, and an SD card reader to your laptop.</p>
                <p class="mb-4">Time to mount up your device to an ideal workstation.</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607517886/hqi71b2seock5eedkt7w.png"
                    class="img-fluid" alt="">

                <ul class="mb-2 mt-5">
                    <li><b>HDMI 2.0 Port:</b> 4K60Hz port to connect multiple monitors and play 4K video without delay
                    </li>
                    <li><b>USB 3.1 hub:</b> second-generation USB hub for high-speed data transfers.</li>
                    <li><b>Thunderbolt 3:</b> 40 Gbps high-speed USB to connect your Apple products to any device.</li>
                    <li><b>Type-C USB:</b> USB-C 3.1 Gen2 connector to ensure superior connectivity with mobile and
                        accessories.</li>
                    <li><b>SD Card Reader:</b> A fast and convenient way of transferring data with 300MB/s.</li>
                    <li><b>Ethernet Port:</b> wired internet connection with 1000Mbps network speed</li>
                </ul>

                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608046468/enreoxhiw4h9kw28dk7y.png"
                    class="img-fluid mb-2 mt-5 " alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607518069/kzcrphjtxbadz8np8esa.png"
                    class="img-fluid mb-2 mt-3" alt="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Turbo Data Transfers </h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607518459/dz5mghjmvnotmfzcfmd7.png"
                    class="img-fluid" alt="">
                <p class="mb-2 mt-5">Featuring a second-generation <b>Type-C USB port</b>, TurboHub operates up to <b>7x
                        faster</b> than your traditional SSD storage — ensuring up to 950MB/s read & write speed.</p>
                <p class="mb-4">Time to mount up your device to an ideal workstation.</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607955965/zzvfn0tk7lhysvske2bp.png"
                    class="img-fluid" alt="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Gigabit Ethernet Connectivity Port</h2>
                <img src="https://media.giphy.com/media/VTBk2su0icJBHMoRKj/source.gif" class="img-fluid" alt="">
                <p class="mb-2 mt-5">Unstable Wi-Fi connection? Sounds familiar? With a 1000Mbps (1Gbps) Ethernet port,
                    your TurboHub ensures the reliable wired network connection you need</p>
                <p class="mb-4">Whether you are playing online games or streaming 4K videos, you may be better off with
                    a wired internet connection instead of your standard WiFi. Enjoy the power of speed.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Extra Deep SD Card Slot </h2>
                <img src="https://media.giphy.com/media/uPeywrFTpEA88SqJgM/source.gif" class="img-fluid" alt="">
                <p class="mb-2 mt-5">A compact and lightweight SD card reader is a perfect addition for any
                    photographer, traveler, blogger, or videographer. TurboHub's heat-resistant and extra-deep SD Card
                    reader ensures up to 300MB/s data transmission speed and efficiency.</p>
                <p class="mb-4">No drivers. No special programs. Simply drag and drop media files from your SD card to
                    your laptop.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">ThunderBolt 3 Superior Port </h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607518698/tiyzdv5pdycwwq7vzejo.png"
                    class="img-fluid" alt="">
                <p class="mb-2 mt-5">Thunderbolt 3 allows transferring data 8x faster than your standard USB 3. With its
                    40 Gbps speed and USB Type-C connectivity, Thunderbolt 3 will make sure that any data transfer task
                    of yours is a matter of minutes.</p>
                <p class="mb-4">It allows you to effortlessly connect your laptop to various devices. Thanks to this
                    port, your TurboHub can handle two 4K displays, providing the speed, convenience, and ultimate
                    flexibility you need.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Multiple Display Connectivity </h2>
                <img src="https://media.giphy.com/media/Rm86NYFd8YtKPfhuH3/source.gif" class="img-fluid" alt="">
                <p class="mb-5 mt-5">Having multiple displays is just…amazing!</p>
                <p class="mb-4">Boost your productivity, enhance your gaming experience, or watch your favorite YouTube,
                    Amazon Prime, or Netflix shows while getting ready for your presentation.</p>
                <p class="mb-4">Powered with USB Type-C and HDMI ports, TurboHub makes it easy to link two additional
                    screens to your laptop and create a versatile workstation.</p>

            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Easy Connectivity with Single or Dual Type-C </h2>
                <p class="mb-2 mt-5">Your TurboHub comes in two options, with a single or dual USB Type-C connector to
                    save you from the hassle of getting additional adapters. Connect it to a wide variety of gadgets
                    with ease — from Macbooks to tablets to smartphones and to other devices.</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607518827/ntjp38ojunw5ghwm2oln.png"
                    class="img-fluid" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607518905/a6sfde2cjedocjm4kro5.png"
                    class="img-fluid mt-4 " alt="">

            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">TurboHub Demonstration </h2>
                <iframe width="691" height="412" src="https://www.youtube.com/embed/wc7A29nLaok" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>


        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Launch Windows or Linux on Your Macbook</h2>
                <iframe width="691" height="412" src="https://www.youtube.com/embed/fLjxQHGgYo4" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <p class="mb-2 mt-5">Thanks to its Thunderbolt 3, USB 3.1, and USB-C connections, your TurboHub is a
                    perfect match for your internal HDD or SSD. Combine the capacity options of TurboHub with that, and
                    for the first time, you can have a fully functioning new operating system — Windows, iOS, Linux, or
                    any other one — installed on your SSD.</p>
                <p class="mb-2 mt-5">Install and boot games and programs faster right from your TurboHub, without
                    cluttering your laptop!</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607518961/r79ab9mmzmmzhdbmysrj.png"
                    class="img-fluid mt-4 " alt="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Durable and Lightweight Design</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519003/ndhlszypexeihgkvicq9.png"
                    class="img-fluid" alt="">
                <p class="mb-2 mt-5">The <b>sturdy aluminum</b> body, ordered from renowned manufacturers and assembled
                    with the best craftsmanship, encases all the components of your TurboHub, keeping your data and
                    files intact wherever you are — in the office, on a plane, or at home.</p>
                <p class="mb-2">TurboHub is a compact, portable, lightweight, and blazing fast external SSD and
                    multiport adapter that is designed to work with your Mac and other devices.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">TurboHub is for everyone </h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519060/cjjh8wcrdllql6mqqi0d.png"
                    class="img-fluid" alt="">
                <p class="mb-2 mt-5">From travel and food bloggers to businessmen to photographers and designers.
                    TurboHub is for everyone. What’s important is that your TurboHub meets your needs and requirements
                    and excels your expectations.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Perks</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608571212/jlgtvemyqgo1qfgfz1oa.png"
                    class="img-fluid mb-3" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607858604/qtuof16nzng7qmjpvc2j.png"
                    class="img-fluid mb-3" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608635773/losrpqwg9yvfcpjxy1t7.png"
                    class="img-fluid mb-3" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607955990/lb2vjaupzyooa5rc6n29.png"
                    class="img-fluid mb-3" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519304/hcqvrwqfzbsj6diixrvz.png"
                    class="img-fluid mb-3" alt="">
                <p class="mt-5">Hi! <br>
                    We are the TurboHub team, and we are excited to welcome you to our official Indiegogo page.
                </p>
                <p class="mb-2 ">We are a team of professional engineers, developers, R&D, marketing and communication
                    specialists committed to building creative and versatile solutions to enhance productivity and
                    provide new opportunities.</p>
                <p class="mb-2 ">Derek and Jordan, the two engineering gurus of our team with over 10 years of product
                    development experience, started developing the pocket-size digital storage device without
                    compromising its true speed.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Technical Specifications</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519368/bojhggcrf7ytiq8wvrcx.png"
                    class="img-fluid mb-5" alt="">
                <iframe width="691" height="412" src="https://www.youtube.com/embed/tdlBkZ57_NI" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Let's look inside the TurboHub</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519408/w5p1dbmxuwm6vhevthit.png"
                    class="img-fluid mb-5" alt="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">What’s Included</h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519453/rzrguhqddvc7gvkuusqu.png"
                    class="img-fluid mb-5" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519492/iovpdqnmgqtbtz3nekcr.png"
                    class="img-fluid mb-5" alt="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Timeline </h2>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608044779/ydiudmtqkddox4xgxger.png"
                    class="img-fluid mb-5" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607863149/bv56x6n6yx7ojcp2pkxs.png"
                    class="img-fluid mb-5 mt-5" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607954141/gg0kih7si4j2x6pnfwnz.png"
                    class="img-fluid mb-5 mt-5" alt="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 py-4">
                <h2 class="mb-5">Spread the Word </h2>
                <p class="mb-5 ">Do you want to help us make TurboHub a real hyper product? Spread the word about it,
                    and let's together revolutionize the industry of storage and connectivity. .</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519621/jb9ijs1k1clpzyvm41ib.png"
                    class="img-fluid mb-3 " alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519648/cy9ucfut9xi6bj9igfck.png"
                    class="img-fluid mb-3" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1607519635/xldk6mlzh1jlt7sn8ygm.png"
                    class="img-fluid mb-3" alt="">
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608045025/eftlcn2ecg92ubiwop76.png"
                    class="img-fluid mb-3" alt="">
                <div class="text-center mb-3 text-dark">
                    <a href="">Press Kit</a>
                </div>

                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608193122/u9l4xcjz5mal57fpigrh.png"
                    class="img-fluid" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-12 border text-center">
                <p class="pt-4 pb-3 "><b>Looking for more information? </b>Check the project FAQ 🤔</p>
            </div>
        </div>
        <div class="text-center mb-3 mt-3 text-secondary">
            <p class="text-secondary"><a href="">Let us know if</a> you think this campaign contains <a href="">prohibited content.</a></p>
        </div>
    </div>
</body>

</html>