<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATES</title>
</head>

<body>
    <div class="container-fluid border mt-5">
        <div class="row">
            <div class="col-12  mt-4 p-3">
                <div class="d-flex flex-row">
                    <div class="p-2"> <img data-v-695d88a7=""
                            src="https://g1.iggcdn.com/assets/individuals/missing/thumbnail-deaf450c2d4183b9309b493f6a7b20d62f8d31617ec828d060df465abe92ef2a.png"
                            width="40" height="40" class="img-fluid rounded-circle">
                    </div>
                    <div>
                        <h5 class="text-dark" href="">by Jordan Lee</h5>
                        <p>Dec 24, 2020 • 10:53PM</p>
                    </div>
                    <div class="ml-auto p-3">
                        <p>11 days ago</p>
                    </div>
                </div>
                <hr class="my-hr">

            </div>
        </div>

        <div class="row">
            <div class="col-12 py-4">
                <h4 class="mb-3"> $100K Funded + Stretch Goal #1 Unlocked + Survey+New Add-Ons</h4>
                <p class="mb-2">Greetings, TurboHub Fam! </p>
                <p class="mb-2">Did we say you’re absolutely awesome?</p>
                <p class="mb-2">It's been a remarkable week for us and we can’t wait to share the great news with you.
                </p>
                <p class="mb-5">Without further ado, let’s go!</p>

                <h5 class="mb-4"> <b>Stretch Goal #1 Unlocked</b></h5>
                <p class="mb-2">Remember the soft pouch case we showed you in our last update?</p>
                <p class="mb-2">Well, now it’s yours!</p>

                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608826949/dfct15f6inge9qstnqrl.png"
                    class="img-fluid" alt="">
                <p class="mb-2 mt-2">We just hit $100K and, as promised, are giving you this stylish beauty completely
                    for
                    FREE with any of the TurboHub models you order. </p>
                <p class="mb-5">Now you can travel the world knowing your TurboHub is protected against any scratches or
                    bumps! </p>

                <h5 class="mb-4"> <b>Our next stretch goal and survey </b></h5>
                <p class="mb-2">We had lots of ideas about our next stretch goal…but since you’re our backers, we
                    thought your ideas are even more important. </p>
                <p class="mb-5">To let us know your thoughts on what you see as our next stretch goal, as well as help
                    us improve TurboHub, please complete this 1-minute short <a href="">survey. </a> </p>

                <p class="mb-5">Thanks a bunch!</p>

                <h5 class="mb-5">Introducing our new add-ons!</h5>

                <p class="mb-3">The New Year is near. So are our new cool add-ons. </p>
                <p class="mb-3">Meaning they’re so near that they are already here!</p>
                <p class="mb-5">Go and pick up your favorite in addition to your pledge.</p>

                <h5 class="mb-2"><a href=""> 3-in-1 cable</a> </h5>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608827068/dppy1p1co9vjzlqfdjad.png"
                    class="img-fluid mb-2" alt="">
                <p class="mb-5">If you’re someone who travels a lot and hates carrying different cables for different
                    devices, then rejoice! Featuring interchangeable, built-in Micro USB, USB-C, and Lightning
                    connectors, this 3-in-1 cable is the only one you need to take with you for fast charging any of
                    your devices anywhere. </p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608828836/j4rm67ooxqnn69kwo9sx.png"
                    class="img-fluid mb-5" alt="">

                <h5 class="mb-2"><a href=""> HDMI cable (2M)</a> </h5>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608827145/ibprwcsjkgkwvpsp6lfj.png"
                    class="img-fluid mb-2" alt="">
                <p class="mb-5">Looking for Ultra HD Video Transmission Experience and 3D Visual Effects, Audio and
                    Video Sync Transmission? Our high speed HDMI cable provides you all of that, ensuring high-speed and
                    flawless audio and video signal transmission. </p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608828836/j4rm67ooxqnn69kwo9sx.png"
                    class="img-fluid mb-5" alt="">

                <h5 class="mb-2"><a href=""> Magnetic wireless charger</a> </h5>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608827212/trfgxmfejyiahonklwj9.png"
                    class="img-fluid mb-2" alt="">
                <p class="mb-5">Make your wireless charging a snap with this sleek yet powerful magnetic charger! Easily
                    attach it to your phone and juice it up really fast, with up to 15W. </p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608828836/j4rm67ooxqnn69kwo9sx.png"
                    class="img-fluid mb-5" alt="">

                <h5 class="mb-2"><a href=""> Type-C extension cable (1.5M)</a> </h5>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608827374/vcvgpj0xe34sfgsolqwj.png"
                    class="img-fluid mb-2" alt="">
                <p class="mb-5">There’s no better way to protect the plug and extend the life of your cable than using
                    our extension cable. Make the USB-C port on your device easily accessible by extending an additional
                    1.5M (approx.5 feet).With its ultra-durable design, this cable will withstand all the daily twists
                    and pulls.</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608828836/j4rm67ooxqnn69kwo9sx.png"
                    class="img-fluid mb-5" alt="">

                <h5 class="mb-2"><a href="">Adapter</a> </h5>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608827454/karugyligojzs2ztmts9.png"
                    class="img-fluid mb-2" alt="">
                <p class="mb-5">With this little dongle plugged into an available standard USB port, you can easily turn
                    your charger, power bank or computer into a USB-C enabled platform. And with the high-speed data
                    transfer speeds, you can trust this smaller than pocket-sized adaptor to ensure fast and safe
                    charging!</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608828836/j4rm67ooxqnn69kwo9sx.png"
                    class="img-fluid mb-5" alt="">

                <h5 class="mb-2"><a href=""> TurboHub Lite</a> </h5>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608827495/j60t3kyhqdjmsh4vnd0z.png"
                    class="img-fluid mb-2" alt="">
                <p class="mb-5">Need an adaptor with optimized data transfer ports? TurboHub Lite offers you 6 of them!
                    With its HDMI connector (4K 60Hz), USB 3.1 port (10Gb/s), Thunderbolt 3 (40Gb/s), USB-C ports
                    (10Gb/s), an SD Card reader (300Mb/s), and ethernet connector (1000Mb/s), you will never miss ports
                    or have to buy an extra dongle for your laptop again!</p>
                <img src="https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_limit,w_695/v1608828836/j4rm67ooxqnn69kwo9sx.png"
                    class="img-fluid mb-5" alt="">

                <h5 class="mb-2"> <b>Follow Us on Social Media, Stay Tuned</b></h5>
                <p class="mb-5">Would you like to always be in the loop of all our hot deals and the latest offers?</p>
                <p class="mb-5">Then you may want to follow us on <a href="">Facebook, Twitter </a>and <a href="">Instagram!</a></p>
                <p class="mb-5">We assure you, there you will find all things TurboHub.  </p>
                
                
                <p class="mb-3">Till next time!</p>
                <p class="mb-3">Yours full of new add-ons,</p>
                <p class="">Derek & TurboHub Team</p>

            </div>
        </div>
    </div>
</body>

</html>